.gradient {
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
}
body {
  font-family: 'Barlow', sans-serif;
  height: 100vh;
}
body main {
  height: 100vh;
}
svg {
  background-color: #28a745;
}
rect {
  fill: #007bff;
}
.vertical {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  float: left;
}
.progress {
  background-color: #d6eedc;
  color: black;
  border-radius: 4px;
}
.progress .progress-bar {
  height: 1.1rem;
  color: black;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: #d9ebff;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  background: darkgray;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-color: black;
  cursor: pointer;
}
.middlePart {
  background-color: #d6eedc;
  background: -webkit-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: -o-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: -moz-linear-gradient(-90deg, #d6eedc, #d9ebff);
  background: linear-gradient(-90deg, #d6eedc, #d9ebff);
}
._backgrounds {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.sectionAnswers {
  height: 100%;
}
.sectionQuestions {
  background-image: url("/imgs/bgQuestion.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 5em;
}
.answer1 {
  background-image: url("/imgs/leftAnswer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 3em;
}
.answer2 {
  background-image: url("/imgs/rightAnswer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.rangeNumbers p {
  width: 2em;
}
.btn {
  color: black;
  background-color: transparent;
  background-image: none;
  border-color: black;
}
.titleText {
  display: none;
}
@media (max-width: 420px) {
  .fixed-sm-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
@media (min-height: 360px) and (max-height: 820px) {
  .fixed-sm-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .fixed-sm-bottom2 {
    position: fixed;
    right: 0;
    bottom: 4.4em;
    left: 0;
  }
}
@media (min-height: 450px) {
  .titleText {
    display: block;
  }
}
